:root {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-white: #fbfbfb;
  --background-color-grey: #f3f3f3;
  --background-color-black: #0c0c0c;

  --text-color-black: #0c0c0c;
  --color-blue: #3350e9;
  --text-color-grey: rgba(12, 12, 12, 0.7);
  --text-color-white: #fbfbfb;
  --text-color-advertisement-your-story: rgba(251, 251, 251, 0.5);
  --text-color-sale-grey: rgba(251, 251, 251, 0.7);

  --button-hover-blue: #1f3cd4;
  --text-hover-blue: #3350e9;
}

body {
  background-color: var(--background-color-white);
  color: var(--text-color-grey);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 60px;
}

/* Mobile */

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-top: 80px;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .section {
    padding-top: 100px;
  }
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./font/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./font/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(./font/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(./font/Gilroy-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
