.iconCloses {
  width: 25px;
  height: 25px;
  transition: color 0.3s ease;
  color: var(--text-color-white);
  &:hover {
    color: var(--text-hover-blue);
  }
}

@media screen and (min-width: 768px) {
  .iconCloses {
    width: 40px;
    height: 40px;
  }
}
